   .container {
    text-align: center; 
  }
  
  .contador {
    display: inline-block;
    margin: 10px;
    vertical-align: top; 
  }
  
  .total {
    display: block;
    margin-top: 0px; 
    text-align: center; 
  }
  
  .img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button > .img {
    width: 50px;
  }
  
  .button {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
  }
  