img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button > img {
    width: 50px;
}

button {
    margin-top: 10px;
    border: none; 
    cursor: pointer;
    background-color: white;
}
